#video {
  padding: 0;
  margin: 0;
  width: 100%    !important;
  height: 100%   !important;
  object-fit: contain;
  overflow: hidden;
  position: absolute;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
